@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<blockquote>
    Small company out of Chicago, IL focused on delivering top quality computers to consumers.
</blockquote> 
    

<h2>Follow me at:</h2>
<p><em><strong>github.com/abiancu</strong></em></p>

