@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Coding Temple<br />
    Chicago, IL<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    
    <strong>Marketing:</strong> <a href="alejandro:Marketing@compifuture.com">AlejandroElectronics@compifuture.com</a>
</address>
