
@{
    ViewData["Title"] = "ResetPassword";
}



<form method="post">
    <div class="form-group">
        
            <label for="email" class="form-control">Enter your new password</label>
            <input type="password" name="password"  class="form-control" required />
            <input type="submit" value="Reset your password" class="btn btn-dark"/>
       
    </div>
</form>
        
       
       
       

