
@{
    ViewData["Title"] = "Profile";
}

<h2>Create your Account</h2>

@if (!this.ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}


    <form method="post" novalidate asp-action="register" app-controller="Profile">
        @Html.AntiForgeryToken()
        <div class="col-4">
            <div class="form-group row">
                <label for="inputUsername3">Create Username</label>

                <input type="text" class="form-control" id="inputUsername3" placeholder="username" name="username" required />

            </div>
            <div class="form-group row">
                <label for="inputEmail3">Create New Email</label>

                <input type="email" class="form-control" id="inputEmail3" placeholder="abc@abc.com" name="email" required />

            </div>

            <div class="form-group row">
                <label for="inputPassword3">Create Password</label>

                <input type="password" class="form-control" id="inputPassword3" placeholder="password" name="password" required min="5" />

            </div>
        </div>

        <button type="submit" class="btn btn-dark">Create Profile</button>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });

    </script>
}
    </form>