
@{
    ViewData["Title"] = "ForgotPassword";
}


@Html.ValidationSummary(true)
<form method="post">
    <h3>Enter your email</h3>
    <div class="row">
        <label for="email"></label>
        <div class="form-group mx-sm-3 mb-2"><input type="email" name="email" class="form-control form-control-sm" required /></div>
        <input type="submit" value="send email" class="btn btn-dark" />
    </div>
</form>

